{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <link rel="stylesheet" href="{% static 'css/crear_cuenta.css' %}">
</head>
<body>
    <div class="registro-container">
        <h2>Crear Cuenta de Cliente</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="nombreCliente" placeholder="Nombre del Cliente" required>
            <input type="text" name="apellidos" placeholder="Apellido del Cliente" required>
            <input type="text" name="telefono" placeholder="Teléfono del Cliente" required>            
            <input type="number" name="totalFiado" placeholder="Total a fiar" min="0" required>
            
            <div class="botones">
                <button type="submit">Crear Cuenta</button>
                <a href="{% url 'fiados1' %}"><button type="button">Cancelar</button></a>
            </div>
        </form>
    </div>
</body>
</html>